// Custom styles.
.site-meta {
    padding: 20px 0;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em
    background: url("/images/utau_logo.png");
    background-color:#ccccff;
    background-size: 100%;
    background-repeat: no-repeat;
}